services:
  homepage:
    container_name: homepage
    image: ghcr.io/gethomepage/homepage:latest
    restart: always
    environment:
      HOMEPAGE_ALLOWED_HOSTS: ${HOST_IP}:3001,squats.${DOMAIN},homepage.${DOMAIN}
      TZ: ${TIMEZONE}
      PUID: ${UID}
      PGID: ${DOCKER_GID}
    ports:
      - 3001:3000
    volumes:
      - ${CONFIG}/homepage:/app/config
      - /var/run/docker.sock:/var/run/docker.sock
      - /mnt/disk1:/mnt/disk1
    labels:
      - traefik.enable=true
      - traefik.http.services.homepage.loadbalancer.server.port=3000
      - traefik.http.routers.homepage.rule=Host(`homepage.${DOMAIN}`)
      - traefik.http.routers.homepage.entrypoints=websecure
      - traefik.http.routers.homepage.tls.certResolver=default
      - traefik.http.routers.homepage.tls.domains[0].main=${DOMAIN}
      - traefik.http.routers.homepage.tls.domains[0].sans=*.${DOMAIN}
      - traefik.http.routers.homepage.middlewares=tinyauth

  karakeep:
    container_name: karakeep
    image: ghcr.io/karakeep-app/karakeep:latest
    restart: always
    environment:
      PUID: ${UID}
      PGID: ${GID}
      TZ: ${TIMEZONE}
      DATA_DIR: /data
      NEXTAUTH_URL: http://localhost:3000
      NEXTAUTH_SECRET: ${KARAKEEP_SECRET}
    ports:
      - 3002:3000
    volumes:
      - ${CONFIG}/karakeep:/data
    labels:
      - traefik.enable=true
      - traefik.http.services.karakeep.loadbalancer.server.port=3000
      - traefik.http.routers.karakeep.rule=Host(`karakeep.${DOMAIN}`)
      - traefik.http.routers.karakeep.entrypoints=websecure
      - traefik.http.routers.karakeep.tls.certResolver=default
      - traefik.http.routers.karakeep.tls.domains[0].main=${DOMAIN}
      - traefik.http.routers.karakeep.tls.domains[0].sans=*.${DOMAIN}
