services:
  homeassistant:
    container_name: homeassistant
    image: ghcr.io/home-assistant/home-assistant:stable
    volumes:
      - ${CONFIG}/homeassistant:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
      - /dev/ttyACM0:/dev/ttyACM0
    environment:
      PUID: ${UID}
      PGID: ${GID}
      TZ: ${TIMEZONE}
    restart: always
    privileged: true
    network_mode: host
    labels:
      - traefik.enable=true
      - traefik.http.services.homeassistant.loadbalancer.server.port=8123
      - traefik.http.routers.homeassistant.rule=Host(`homeassistant.${DOMAIN}`)
      - traefik.http.routers.homeassistant.entrypoints=websecure
      - traefik.http.routers.homeassistant.tls.certResolver=default
      - traefik.http.routers.homeassistant.tls.domains[0].main=${DOMAIN}
      - traefik.http.routers.homeassistant.tls.domains[0].sans=*.${DOMAIN}

  nodered:
    image: nodered/node-red:latest
    container_name: nodered
    network_mode: host
    restart: always
    environment:
      TZ: ${TIMEZONE}
    volumes:
      - ${CONFIG}/nodered:/data
    labels:
      - traefik.enable=true
      - traefik.http.services.nodered.loadbalancer.server.port=1880
      - traefik.http.routers.nodered.rule=Host(`nodered.${DOMAIN}`)
      - traefik.http.routers.nodered.entrypoints=websecure
      - traefik.http.routers.nodered.tls.certResolver=default
      - traefik.http.routers.nodered.tls.domains[0].main=${DOMAIN}
      - traefik.http.routers.nodered.tls.domains[0].sans=*.${DOMAIN}
      - traefik.http.routers.nodered.middlewares=tinyauth

  scrypted:
    image: ghcr.io/koush/scrypted:latest
    container_name: scrypted
    restart: always
    environment:
      PUID: ${UID}
      PGID: ${GID}
      TZ: ${TIMEZONE}
    network_mode: host
    volumes:
      - ${CONFIG}/scrypted:/server/volume
      - ${CONFIG}/scrypted/nvr:/nvr
    labels:
      - traefik.enable=true
      - traefik.http.services.scrypted.loadbalancer.server.port=10443
      - traefik.http.routers.scrypted.rule=Host(`scrypted.${DOMAIN}`)
      - traefik.http.routers.scrypted.entrypoints=websecure
      - traefik.http.routers.scrypted.tls.certResolver=default
      - traefik.http.routers.scrypted.tls.domains[0].main=${DOMAIN}
      - traefik.http.routers.scrypted.tls.domains[0].sans=*.${DOMAIN}
